/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Galada&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pompiere&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  background-color: rgba(255, 255, 255, 1);
  font-family: Montserrat;
}

/* NavBar  component */
.nav-container {
  width: 100%;
  background-color: rgba(35, 133, 109, 1);
  z-index: 1000;
}


.nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding: 1rem 4rem;
}

.nav-follow {
  color: rgba(255, 255, 255, 1) !important;
}

.nav-phone,
.nav-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  color: rgba(255, 255, 255, 1) !important;
}

.nav-phone p,
.nav-email p {
  color: rgba(255, 255, 255, 1) !important;
}

.nav-socials {
  display: flex;
  align-items: center;
  gap: .6rem;
  color: rgba(255, 255, 255, 1) !important;
  white-space: nowrap;
}

.nav-socials span {
  display: flex;
  gap: .6rem;
}

.nav-socials span img {
  width: 15px;
}



/* Second Navbar component */
.second-nav-container {
  width: 100%;
  background-color: rgba(35, 133, 109, 1);
}


.second-nav-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  padding: 1rem 4rem;
}

.second-nav-follow {
  color: rgba(255, 255, 255, 1) !important;
}

.second-nav-phone,
.second-nav-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .4rem;
  color: rgba(255, 255, 255, 1) !important;
}

.second-nav-phone p,
.second-nav-email p {
  color: rgba(255, 255, 255, 1) !important;
}

.second-nav-socials {
  display: flex;
  align-items: center;
  gap: .6rem;
  color: rgba(255, 255, 255, 1) !important;
  white-space: nowrap;
}

.second-nav-socials span {
  display: flex;
  gap: .6rem;
}

.second-nav-socials span img {
  width: 15px;
}




/* SubNavBar component */
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 4rem;
}

.sub-nav-links {
  display: flex;
  gap: 1rem;

}

.sub-nav-links .no-decoration-links {
  text-decoration: none;
}

.nav-items nav li {
  color: rgba(115, 115, 115, 1);
  list-style: none;
}

.nav-arrow,
.right-nav-items,
.subnav-login,
.cart-favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;

}

.right-nav-items {
  display: flex;
  white-space: nowrap;
  color: rgba(35, 166, 240, 1);
}

.right-nav-items:hover,
.right-nav-items .subnav-login-link:hover {
  color: #213547;
}

.subnav-login-link {
  color: rgba(35, 166, 240, 1);
}

.subnav-login .no-decoration-links {
  text-decoration: none;
}

/* Second SubNavBar component */
.second-nav-items,
.second-sub-nav-links {
  display: none;
}


/* HamburgerMenu component */
.hamburger-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.menu-icon {
  width: 25px;
  height: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: .2rem;
  cursor: pointer;
  z-index: 2;
}

.menu-icon .bar2 {
  width: 20px;
}

.menu-icon .bar3 {
  width: 15px;
}

.menu-icon div {
  width: 100%;
  height: 5px;
  background-color: #333;
  transition: all 0.3s ease;
}

.menu-icon.open .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.menu-icon.open .bar2 {
  opacity: 0;
}

.menu-icon.open .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.menu-content {
  display: none;
  position: absolute;
  top: 40px;
  left: -150px;

  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.menu-content.open {
  display: block;
}

.menu-content ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.menu-content ul li {
  padding: 10px 20px;
}

.menu-content ul li a {
  text-decoration: none;
  color: #333;
}



/* Landing Page HeroSection component */
.hero-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  background-color: rgba(255, 255, 255, 1);
}


.landing-hero-row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.landing-hero-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
}


/* Products List API component */
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 4rem;
}

.App h1 {
  margin: .6rem auto;
}

.App h4 {
  color: rgba(115, 115, 115, 1);
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 2rem;
}

.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  text-align: left;
}

.product img {
  max-width: 100%;
  border-radius: 4px;
}

.product-btn {
  margin-top: 2rem;
  padding: .8rem;
  background-color: #fff;
  border: 1px solid rgba(35, 165, 240, 0.349);
  border-radius: 3px;
  color: rgba(35, 166, 240, 1);
  cursor: pointer;
  font-size: .7rem;
  font-weight: 600;
}


/* Product Services Start */
.product-service {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  text-align: center;
}

.product-service-header {
  text-align: center;
  margin: 2rem auto;
}

.product-service-header h3,
p {
  color: rgba(115, 115, 115, 1);
  margin: .8rem auto;
}

.product-service-header p {
  font-size: .8rem;
}

.product-service-header h2 {
  color: rgba(37, 43, 66, 1);
}

.product-service-row {
  display: flex;
  justify-content: center;
  gap: 6rem;
  max-width: 100%;
  width: auto;
  margin: .4rem 15rem;
}

.product-service-card p {
  font-size: .7rem;
  width: 9.8rem;
}

.f-icon-service {
  color: rgba(35, 166, 240, 1);
  margin-top: .4rem;
}

.product-service-card {
  transition: transform 0.3s ease;
  margin: 1rem 0;
  cursor: pointer;
}

.product-service-card:hover {
  transform: scale(0.8);
  transition: transform 0.3s ease;
  box-shadow: 0 0 8px rgba(35, 165, 240, 0.526);
  border-radius: 5px;
}

/* Product Blog start */
.product-service-header .header-blue {
  color: rgba(142, 194, 242, 1);
}

.blog-posts {
  display: flex;
  justify-content: center;
}

.blog-posts img {
  width: 355px;
  align-self: center;
}

.article-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 300px;
  padding: .2rem 0;
  padding-bottom: 0;
}

.blog-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  font-size: .6rem;
  box-shadow: 0 2px 1px rgba(128, 128, 128, 0.292);

}

.blog-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  color: rgba(142, 194, 242, 1);
  margin-top: 1rem;
  width: fit-content;
}

.blog-links .color-link {
  color: rgba(115, 115, 115, 1);
  text-decoration: none;
}

.color-link2 {
  text-decoration: none;
}

.blog-article h6 {
  font-size: 1.2rem;
  width: 15rem;
  text-align: left;
  font-weight: 400;
  color: rgba(37, 43, 66, 1);
}

.blog-article .article-text {
  font-size: .8rem;
  width: 13.5rem;
  text-align: left;
  margin: .4rem 0;
}

.time-chart {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.time,
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

.time-chart-icons {
  color: rgba(142, 194, 242, 1);
}

.time-chart-icons2 {
  color: rgba(35, 133, 109, 1);
}

.Learn-more-blog {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: .4rem;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
}


/* Testimonies start */
.testimonial-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-top: 6rem;
  text-align: center;
  line-height: 1.6;
}

.testimonial-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .6rem;
}

.testimonial-text {
  font-size: .8rem;
  width: 19rem;
  color: rgba(115, 115, 115, 1);
}

.name h5 {
  margin-bottom: -1rem;
  color: rgba(35, 166, 240, 1);
}

.name p {
  color: rgba(37, 43, 66, 1);
  font-weight: 600;
}

.testimonial-right {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.right-row {
  display: flex;
  gap: .2rem;
}

/* Call to action */
.call-to-action {
  background-image: url('/image/background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 4rem;
  overflow: hidden;
  height: 70vh;
}

.bg-text-box button {
  background-color: rgba(35, 166, 240, 1);
  font-size: .7rem;
  padding: .8rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  border: none;
  color: #fff;
}

.bg-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  margin: 8rem auto;
  width: 45rem;
  text-align: center;
}

.bg-text-box h5 {
  color: rgba(35, 166, 240, 1);
}

.bg-text-box h2 {
  width: 25rem;
  font-size: 2rem;
}

.bg-text-box p {
  width: 30rem;
}

.bg-text-box h3 {
  color: rgba(35, 133, 109, 1);
}

.bg-text-box button:hover {
  border: none;
  transform: All 0.3s ease;
  color: rgba(35, 166, 240, 1);
  background-color: rgb(227, 227, 227);
}

/* Footer start */
.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Montserrat;
  gap: .8rem;
  text-align: left;
  margin-top: 2rem;
  font-weight: 500;
}

.footer-herder {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  box-shadow: 0px 1px 0px rgb(227, 227, 227);
  width: 100%;
  padding: 0 9.5rem;
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: .8rem;
  margin-right: 8rem;
}

.footer-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 0;
  padding: 0 4rem 0 0;
  width: 80%;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footer-body-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-body-content h6 {
  font-size: 1rem;
}

.footer-body-content li {
  list-style: none;
  font-size: .8rem;
  margin-bottom: .3rem;
  color: rgba(115, 115, 115, 1);

}

.footer-rights {
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 600;
  background-color: rgba(250, 250, 250, 1);
  padding: 1rem 9.5rem;
  font-size: .7rem;
  width: 100%;
}

.footer-btn {
  display: flex;
}

.footer-btn button {
  border-radius: 1px;
  height: 2.6rem;
}

.footer-btn .f-btn-1 {
  background-color: rgba(249, 249, 249, 1);
  color: rgba(115, 115, 115, 1);
  font-size: .6rem;
  width: 8rem;
  text-align: left;
  border: none;
  padding: 0 .4rem;
  cursor: pointer;
}

.footer-btn .f-btn-1:hover {
  border: none;
  background-color: rgba(35, 166, 240, 1);
  color: #fff;
}

.footer-btn .f-btn-2 {
  background-color: rgba(35, 166, 240, 1);
  color: rgba(230, 230, 230, 1);
  font-size: .6rem;
  border: none;
  padding: 0 .2rem;
  cursor: pointer;
}

.footer-btn .f-btn-2:hover {
  background-color: #fff;
  color: rgba(35, 166, 240, 1);
}

.footer-links p {
  font-size: .8rem;
  text-align: left;
  margin: .2rem 0;
}

.no-decoration-link {
  font-size: .8rem;
  text-decoration: none;
}

/* LANDING PAGE COMPONENT ENDS HERE!!!! */

/* SHOP PAGE COMPONENTS STARTS HERE!!! */

/* NAVIFATION COMPONENT HERE! */
.shop-navigation {
  display: flex;
  align-items: center;
  gap: .6rem;
  /* border-bottom: 1px solid rgba(128, 128, 128, 0.3); */
  margin: 2rem 0 0 0;
  background-color: rgba(250, 250, 250, 1);
  padding: 1rem 0 1rem 4rem;
}

.shop-navigation h4 span {
  color: rgba(189, 189, 189, 1);
}

.shop-chevron-right {
  color: rgba(189, 189, 189, 1);
}

.second-sub-nav-container{
  display: none;
}


/* SHOP HERO SECTION STARTS!!! */
.shop-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  font-family: Montserrat;
  color: rgba(37, 43, 66, 1);
  text-align: left;
  margin: 0;
  padding: 0 0 2rem 0;
  background-color: rgba(250, 250, 250, 1);
}

.shop-hero-right {
  width: 25rem;
  height: 28.2rem;
}

.shop-hero-right-top {
  margin: 0;
}

.shop-review {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.available-stock {
  font-size: .8rem;
}

.available-stock span {
  color: rgba(35, 166, 240, 1);
}

.shop-horizontal-line {
  color: rgba(189, 189, 189, 1);
  margin-top: 4rem;
}

.shop-colors {
  display: flex;
  gap: .4rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.shop-colors .blue,
.green,
.orange,
.black {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.blue {
  background-color: rgba(35, 166, 240, 1);
}

.green {
  background-color: rgba(45, 192, 113, 1);
}

.orange {
  background-color: rgba(231, 124, 64, 1);
}

.black {
  background-color: rgba(37, 43, 66, 1);
}

.shop-options {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.shop-options .shop-btn {
  background-color: rgba(35, 166, 240, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  font-size: .8rem;
  font-weight: 600;
  border: none;
  padding: .8rem;
}

.shop-options .shop-btn:hover {
  background-color: rgba(255, 255, 255, 1);
  ;
  color: rgba(35, 166, 240, 1);
}

.white-bg {
  background-color: rgba(255, 255, 255, 1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: .4rem;
  border: 1px solid rgba(232, 232, 232, 1);
  cursor: pointer;
}

/* PRODUCT DESCRIPTION COMPONENT STARTS HERE!!! */
.d-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
}


.description-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.241);
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.d-link {
  text-decoration: none;
}

.description-body {
  display: flex;
  gap: 6rem;
  margin: 4rem 4rem 4rem 0;
}

.d-body-left h3 {
  font-size: 1.2rem;
  margin: 0;
}

.d-body-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: .7rem;
  width: 22rem;
  height: 16rem;
  padding-top: 0;
}

.d-body-left p {
  line-height: 1.6;
  font-family: Montserrat;
}

.body-green-border-left {
  border-left: 2px solid rgba(35, 133, 109, 1);
  padding-left: .6rem;
  width: 21.7rem;
}


/* SPONSORS COMPONENT STARTS HERE!!! */
.shop-sponsors {
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.shop-sponsors img {
  transition: transfotm 0.3s ease, box-shadow 0.3s ease;
}

.shop-sponsors img:hover {
  transform: scale(1.2);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: rgba(35, 166, 240, 1);
}


/* CARTS COMPONENT STARTS HERE!!! */
.general-cart-container {
  display: flex;
  gap: 5rem;
  background-color: rgba(250, 250, 250, 1);
  font-family: Montserrat;
}

.shopping-cart {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 50rem;
  padding: 0 1rem;
  background-color: rgba(255, 255, 255, 1);
}

.cart-header-text {
  margin: 1rem 0;
}

.shopping-cart-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(59, 65, 72, 1);
  width: 95%;
}

.item-quantity,
.item-price {
  margin-right: 2rem;
}

.shopping-cart-nav p {
  color: rgba(254, 254, 254, 1);
}

.shopping-cart-nav-right p {
  color: rgba(254, 254, 254, 1);
}

.shopping-cart-nav-right {
  display: flex;
  gap: 2rem;
}

.cart-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.cart-box-delete {
  border-bottom: 1px solid rgba(205, 205, 205, 0.674);
}

.cart-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row-left {
  display: flex;
  gap: 2rem;
}

.row-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .2rem 1rem .2rem 0;
}


.row-left-side .cart-stock {
  font-size: .7rem;
  color: rgba(43, 165, 1, 1);
  width: fit-content;
  text-align: left;
  margin: .2rem 0 .2rem 0;
}

.cart-stars {
  display: flex;
}

.cart-stars img {
  width: 15px;
}

.shop-review {
  display: flex;
  gap: 2rem;
  font-size: .7rem;
}

.price p {
  font-size: .8rem;
}

.row-middle {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.minus,
.plus {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  cursor: pointer;
  background-color: rgba(232, 234, 236, 1);
  font-weight: 600;
}

.plus {
  background-color: rgba(35, 166, 240, 1);
  border: none;
}

.minus {
  font-size: 2rem;
}

.one {
  border: 1px solid rgb(181, 181, 181);
  padding: .4rem 2rem;
  font-weight: 600;
}


.delete-box {
  display: flex;
  align-items: center;
  gap: .4rem;
  width: fit-content;
  padding: .2rem 1rem;
  margin-top: .2rem;
  font-size: .8rem;
  font-weight: 600;
  color: rgba(35, 166, 240, 1);
  cursor: pointer;
}


.delete-box p {
  color: rgba(35, 166, 240, 1);
}

.order-summary {
  margin: 2rem;
  width: 25rem;
  background-color: rgba(255, 255, 255, 1);
}

.summary-head {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid rgba(205, 205, 205, 0.674);
  margin: 0 2rem;
}

.summary-head h2,
.summary-head h5 {
  white-space: nowrap;
}

.number-of-items {
  margin-left: 4.5rem;
  white-space: nowrap;
}

.order-mid-text {
  font-size: .7rem;
  width: 9rem;
  text-align: right;
  margin-right: 0rem;
  color: rgba(245, 102, 102, 1);
  line-height: 1.6;
}

.subtotal {
  margin-right: .1rem;
}


.total {
  margin-right: .1rem;
  font-size: 1.6rem;
  padding: auto;
  font-weight: 600;
}

.summary-button {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 2rem 0;
  margin: 0 2rem;
}

.summary-button p {
  color: rgba(245, 102, 102, 1);
  margin-right: 0rem;
  font-size: .7rem;
  width: 7rem;
  text-align: right;
}

.summary-btn {
  padding: 1rem 0;
  width: 100%;
  margin: 0;
  background-color: rgba(35, 166, 240, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.payment-options {
  display: flex;
  gap: .6rem;
  margin: 1rem 2rem;
}


/* MEDIA QUERY STARTS HERE!!! */

@media (max-width: 768px) {
  .nav-container nav {
    display: none;
    background-color: transparent;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
  }

  .nav-items {
    display: flex;
    padding: 0;
  }

  .sub-nav-links,
  .subnav-login,
  .subnav-heart,
  .nav-items .right-nav-items .subnav-item-number {
    display: none;
    color: rgba(255, 255, 255, 1);
  }

  .subnav-cart,
  .subnav-search,
  .subnav-header {
    display: flex;
    color: black;
    margin-left: .6rem;
  }

  .subnav-item-number {
    display: none;
    color: rgba(255, 255, 255, 1);
  }

  .wider-width2 {
    width: 454px;
    margin-left: 0rem;
  }


  .landing-hero-row1 {
    display: flex;
    flex-direction: column;
  }

  .landing-hero-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wider-width3,
  .wider-width2,
  .wider-width1,
  .product {
    width: 380px;
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .App h4 {
    display: none;
  }

  .App .products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .product-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .product-service-header {
    margin-left: 2rem;
    text-align: center;
  }

  .product-service-row {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-left: 2rem;
    width: 300px;
  }

  .product-service-card {
    margin: 0;
    padding: 1rem;
    text-align: center;
  }

  .product-service {
    max-width: 360px;
  }

  .product-service-header h2 {
    font-size: 1.5rem;
  }

  .product-service-header p {
    font-size: 1rem;
  }

  .product-service-card h3 {
    font-size: 1.2rem;
  }

  .product-service-card p {
    font-size: 1rem;
  }

  .product-service-row {
    gap: 0.5rem;
  }

  .product-service-card {
    padding: 1rem;
  }


  .blog-posts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .blog-article {
    width: 354px;
    margin-left: 1rem;
  }

  .article-body {
    gap: 1rem;
  }

  .testimonial-right {
    width: 380px;
  }

  .right-row img {
    width: 124px;
  }

  .wrapper-container {
    height: 400px;
  }

  .call-to-action {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }

  .bg-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    margin-top: 2rem;
  }

  .bg-text-box h2 {
    font-size: 2rem;
    width: 19rem;
    margin: 0;
  }

  .bg-text-box p {
    font-size: .9rem;
    width: 14rem;
  }

  .bg-text-box h3 {
    font-size: 1rem;
  }

  .bg-text-box button {
    font-size: .6rem;
    padding: 8px 16px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0;
  }

  .footer-herder {
    display: flex;
    flex-direction: column;
    border-bottom: none;
    background-color: rgba(250, 250, 250, 1);
    padding: 2rem 0 2rem 2rem;
    gap: .8rem;
    margin-left: 0;
    width: 380px;
  }

  .footer-herder h2 {
    width: fit-content;
  }


  .footer-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 1);
  }

  .footer-body-content {
    width: 16rem;
    margin-left: 0rem;
  }

  .footer-rights {
    margin: 1.5rem 0;
    padding: 0;
    width: 13rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    font-size: .8rem;
    line-height: 1.6;
  }

  .hamburger-menu {
    display: flex;
  }

  .second-nav-container,
  .nav-items .right-nav-items {
    display: none;
  }

  .second-sub-nav-container .second-nav-items {
    display: flex;
    border: 1px solid blue;
  }

  .second-sub-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    width: 360px;
    margin-left: .8rem;
    padding: .6rem;
  }

  .hide-down-arrow {
    display: none;
  }

  .shop-navigation{
    margin-left: 0rem;
    padding-left: 8rem;
  }

  .second-no-decoration-links {
    text-decoration: none;
    color: rgba(115, 115, 115, 1);
  }

  .second-no-decoration-links li {
    list-style: none;
  }

  .second-right-nav-items {
    width: 360px;
    margin-left: .8rem;
    margin-top: 1rem;
    padding: .2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: .6rem;
    color: rgba(35, 166, 240, 1);
  }

.second-right-nav-items p{
  color: rgba(35, 166, 240, 1);
}

  .second-subnav-login, .second-cart-favourite{
    display: flex;
    align-items: center;
    gap: .4rem;
  }

  .shop-hero-image, .shop-hero-section{
    width: 380px;
    margin-left: .16rem;
  }

  .shop-hero-right{
    width: 360px;
    padding: 0 2rem;
  }

  .description-navigation, .description-body, .App-hide{
    display: none;
  }

  .shop-sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    width: 360px;
    margin-top: 0;
  }

.shop-navigation{
  padding-left: 4.5rem;
}

.general-cart-container{
display: flex;
flex-direction: column;
margin-left: -1.8rem;
}

.shopping-cart-nav{
  display: none;

}

.cart-row{
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 380px;
  margin-left: -3.1rem;
}

.cart-box-delete{
  display: flex;
  justify-content: center;
  border: 1px solid red;
  width: 380px;
  margin-left: 0.1rem;

}

.shopping-cart{
border: 1px solid;
width: 380px;

}

.row-left{
  border: 1px solid green;
  gap: .2rem;
  width: 200px;
}

.cart-stars img{
  width: 10px;
}

.shop-review{
  gap: .2rem;
  font-size: .4rem;
  white-space: nowrap;
}

.row-middle{
  gap: .2rem;
}

.row-middle .minus, .row-middle .plus{
  width: 10px;
  height: 10px;
  padding: .8rem;
  font-size: .6rem;
}

.row-middle .one{
  padding: .1rem .6rem;
}

.price{
  gap: 0;
  display: flex;
  align-items: center;
}

.price h4{
  font-size: .6rem;
}

.price p{
  font-size: .4rem;
}

/* .row-left-side{
  display: flex;
  flex-direction: column;
} */

}